/* general */
@font-face {
    font-family: PlayfairDisplay;
    src: url(PTSerif-Regular.ttf);
}

html {
	margin: 1.5rem, 0.5rem;
	padding: 1.5rem, 0.5rem;
	font-family: "Regular 400", PlayfairDisplay, serif;
	background-color: var(--background-color, white);
}

br {
	background-color: white !important;
}

/* nav bar */
header {
	background-color: aliceblue;
	height: auto;
	padding: 1.5rem;
}

a#home {
	color: black;
	align-content: center;
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(208, 229, 248);
}

nav {
	text-align: center;
	background-color: aliceblue;
}

nav a {
	color: black;
	align-content: center;
	text-align: center;
	padding: 1rem 1rem;
	margin: 1rem 1rem;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 100;
	background-color: azure;
	transition: transform .2s;
}
  
nav a:hover {
	background-color: #ddd;
	transform: scale(1.5);
}

/* main */
main, footer {
	background-color: #d3d3d3;
	padding: 1rem;
}

h1 {
	text-align: center;
}

section#intro {
	text-align: center;
}


/* resume */
img#simi {
	width: 35dvw;
	height: 35dvw;
	object-fit: contain;
}

img#resume {
	width: 100dvw;
	height: 100dvw;
	object-fit: contain;
}

/* footer */
footer div {
	text-align: center;
}

div.socials {
    display: block;
}

div.socials > * {
    padding: 1rem;
}

@media (min-width:768px) {
    div.socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

img.socials {
	width: 10dvw;
	height: 10dvw;
	object-fit: contain;
}

footer a#backtotop {
	color: black;
	align-content: center;
	text-align: center;
	padding: .5rem;
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(208, 229, 248);
}